{% extends "main.html" %}

{% block content %}
<style>
    .md-sidebar--secondary:not([hidden]) {
        display: none;
    }

    .md-content__button {
        display: none;
    }

    h1 {
        display: none;
    }

    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .md-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
</style>

<div class="center-container">
    <h2>
        Тут ничего нет...
    </h2>

    <h3>Если какая-то ссылка ведёт сюда - сообщи об этом в наш <a href="https://discord.gg/23XJyDGJaH" target="_blank">Дискорд</a>, и получи награду! >3<</h3>
    <a href="#" onclick="history.go(-1)" class="md-button">Вернуться</a>
</div>
{% endblock %}