---
title: Пример поста
date: 2024-04-08
authors: [szarkan]
slug: как-выглядит-url-поста (например "6_0_5")
description: >
  Это супер крутое описание ченджлиста!
categories:
  - Патч
  - Хотфикс
  - Обновление
  - Новый сезон
---

# Пример поста

Это пример поста ченджлиста. В основном тут важны только мета-теги выше - их желательно заполнять **все**. Данный текст будет показываться на странице блога, а всё после "more" - показываться только на странице поста.

<!-- more -->

Этот текст не виден в блоге, но виден, если открыть страницу поста.